################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lock
/Lesson4/Lesson4/bin/Debug
/Lesson4/Lesson4/obj/Debug
